{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<div class="row">

  <div class="row">
    <div class="col-sm-2">
      <div>
        <div class="card">
          <div class="image">
            <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/gelatina.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>gelatina</h3></a>
          </div>
        </div>
      </div>
    </div>
  
  <div class="col-sm-2">
    <div>
      <div class="card-body">
        <div class="card">
          <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/aceite.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>aceite</h3></a>
        </div>
      </div>
    </div>

    
  </div>
  <div class="col-sm-2">
    <div class="card-body">
      <div class="card">
      <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/compota.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>compota</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
        <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/sal.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>sal</h3></a>
        </div>
      </div>
  </div>

    <div class="col-sm-2">
      
        <div class="card-body">
          <div class="card">
            <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/mayonesa.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>mayonesa</h3> </a>
          </div>
        </div>
      
    </div>
    <div class="col-sm-2">
      
        <div class="card-body">
          <div class="card">
          <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/miel.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>miel</h3></a>
          </div>
        </div>
      
    </div>
</div>
  
  <div class="row">
    <div class="col-sm-2">

      <div class="card-body">
        <div class="card">
          <div>
            <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/vinagre.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>vinagre</h3></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
        <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/sardinas.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>sardinas</h3></a>
        
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card-body">
      <div class="card">
        <a href="{% url 'l_abarrotes' %}"><img src='{% static "IMAGES/atun .jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>atun</h3></a>
        </div>
      </div>
    </div>




{% endblock %}
