{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<a href="./verduras.html"><img src='{% static "IMAGES/frutas.jpg" %}' width="450px" height="300px" class="rounded float-center" alt="..."></a>
<a href="./frutas.html"><img src='{% static "IMAGES/verduras.jpg" %}' width="450px" height="300px" class="rounded float-center" alt="..."></a>
<a href="./frutas.html"><img src='{% static "IMAGES/granos.jpg" %}' width="450px" height="300px" class="rounded float-center" alt="..."></a>
<br>
<br>
<br>
<br>

{% endblock %}
<br>
<br>
<br>
<br>