{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<div class="row">

  <div class="row">
    <div class="col-sm-2">
      <div>
        <div class="card">
          <div class="image">
            <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/carne_vaca.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Carne de (vaca)res</h3></a>
          </div>
        </div>
      </div>
    </div>
  
  <div class="col-sm-2">
    <div>
      <div class="card-body">
        <div class="card">
          <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/carne_ternera.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Carne de ternera</h3></a>
        </div>
      </div>
    </div>

    
  </div>
  <div class="col-sm-2">
    <div class="card-body">
      <div class="card">
      <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/carne_cerdo.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Carne de cerdo</h3></a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
        <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/Carne_pollo.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Carne de pollo</h3></a>
        </div>
      </div>
  </div>

    <div class="col-sm-2">
      
        <div class="card-body">
          <div class="card">
            <a href="{% url 'l_pescados' %}"><img src='{% static "IMAGES/pescado.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>pescado</h3> </a>
          </div>
        </div>
      
    </div>
    <div class="col-sm-2">
      
        <div class="card-body">
          <div class="card">
          <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/pecho.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>pecho</h3></a>
          </div>
        </div>
      
    </div>
</div>
  
  <div class="row">
    <div class="col-sm-2">

      <div class="card-body">
        <div class="card">
          <div>
            <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/solomito.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>solomito</h3></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
        <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/punta_de_anca.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>punta de anca</h3></a>
        
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card-body">
      <div class="card">
        <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/sobre_barriga.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>sobre barriga</h3></a>
        </div>
      </div>
    </div>




{% endblock %}
