{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<div class="row">
    <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/Banano.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">BANANO</a>
        <div class="card-body">
        </div>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/sandia.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">SANDIA</a>
        <div class="card-body">
        </div>      
    </div>
    <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/piña.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">PIÑA</a>
        <div class="card-body">
        </div>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/melon.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">MELON</a>
        <div class="card-body">
        </div>      
    </div>
    <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/pera.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">PERA</a>
        <div class="card-body">
        </div>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mora.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">MORA</a>
        <div class="card-body">
        </div>   
           
    </div>

</div>
  
<div class="row">
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/Mandarina.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">MANDARINA</a>
      <div class="card-body">
      </div>
  </div>
  <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/Mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">MANGO</a>
      <div class="card-body">
      </div>      
  </div>
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/Naranja.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">NARANJA</a>
      <div class="card-body">
      </div>
  </div>
  <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/uvas.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">UVA</a>
      <div class="card-body">
      </div>      
  </div>
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/limon.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">LIMON</a>
      <div class="card-body">
      </div>
  </div>
  <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/papaya.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">PAPAYA</a>
      <div class="card-body">
      </div>      
  </div>

</div>

<div class="row">
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/durazno.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">DURAZNO</a>
      <div class="card-body">
      </div>
  </div>
  <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/kiwi.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">KIWI</a>
      <div class="card-body">
      </div>      
  </div>
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/pitaya.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">PITAYA</a>
      <div class="card-body">
      </div>
  </div>
  <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/Manzana.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">MANZANA</a>
      <div class="card-body">
      </div>      
  </div>
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/ciruela.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">CIRUELA</a>
      <div class="card-body">
      </div>
  </div>
  <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/fresa.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">FRESA</a>
      <div class="card-body">
      </div>
            
  </div>
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/frambueza.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">FRAMBUEZA</a>
    <div class="card-body">
    </div>
  </div>
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/granadilla.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">GRANADILLA</a>
      <div class="card-body">
      </div>
    </div>
    <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/guanabana.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">GUANABANA</a>
        <div class="card-body">
        </div>
      </div>
      <div class="col-sm-2">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/maracuya.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">MARACUYA</a>
          <div class="card-body">
          </div>
        </div>
        <div class="col-sm-2">
          <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/arandano.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">ARANDANOS</a>
            <div class="card-body">
            </div>
          </div>
          <div class="col-sm-2">
            <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/cereza.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">CEREZA</a>
              <div class="card-body">
              </div>
  
  
  
    </div>  
    
    
  

</div>
  
  <br>
  <br>
  <br>

  
  
    

{% endblock %}
<br>
<br>
<br>
<br>