{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<div class="row">
    <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/pera.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Pera</h3></a>
      <div class="card">
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/manzana.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Manzana</h3></a>
        <div class="card-body">
        </div>
      
    </div>
    <div class="col-sm-2">
     
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Mango</h3></a>
        <div class="card-body">
        </div>
      
    </div>
    <div class="col-sm-2">
      
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/piña.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="piña"><h3>Piña</h3></a>
        <div class="card-body">
        </div>
      
    </div>
    <div class="col-sm-2">
      
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      
    </div>
    <div class="col-sm-2">
      
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>Fresa</h3></a>
        <div class="card-body">
        </div>
      
    </div>
</div>
  
 
  <div class="row">
    <div class="col-sm-2">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/pera.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card">
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/manzana.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
        <div class="card-body">
        </div>
      </div>
    </div>
</div>


<div class="row">
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/pera.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/manzana.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-2">
    <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/pera.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/manzana.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card">
      <a href="{% url 'l_frutas' %}"><img src='{% static "IMAGES/mango.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>
  

   
    
   
  
  <br>
  <br>
  <br>
 
  
  
    
            
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            
          </div>
        </div>
      </div>
    </div>
  
 
  
  
{% endblock %}
<br>
<br>
<br>
<b