{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<div class="row">
    <div class="col-sm-2">
      <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/garbanzo.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">GARBANZO</a>
        <div class="card-body">
        </div>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/frijol.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">FRIJOL</a>
        <div class="card-body">
        </div>      
    </div>
    <div class="col-sm-2">
      <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/lentejas.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">LENTEJAS</a>
        <div class="card-body">
        </div>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/trigo.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">TRIGO</a>
        <div class="card-body">
        </div>      
    </div>
    <div class="col-sm-2">
      <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/cafe.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">CAFE</a>
        <div class="card-body">
        </div>
    </div>
    <div class="col-sm-2">
        <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/Maiz.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">MAIZ</a>
        <div class="card-body">
        </div>   
           
    </div>

</div>
  
<div class="row">
  <div class="col-sm-2">
    <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/centeno.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">CENTENO</a>
      <div class="card-body">
      </div>
  </div>
  <div class="col-sm-2">
      <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/avena.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">AVENA</a>
      <div class="card-body">
      </div>      
  </div>
  <div class="col-sm-2">
    <a href="{% url 'l_granos' %}"><img src='{% static "IMAGES/arroz.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="...">ARROZ</a>
      <div class="card-body">
      </div>
  </div>
 
  
  
    </div>  
    
  

</div>
  
  <br>
{% endblock %}
