{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<br>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="{% url 'ofertas' %}"><img src="{% static 'IMAGES/ofertas.jpg' %}" class="d-block w-100" alt="..." width="1100px" height="400px"></a>
    </div>
    <div class="carousel-item">
      <img src="{% static 'IMAGES/campo12.jpg' %}" class="d-block w-100" alt="..." width="1100px" height="400px">
    </div>
    <div class="carousel-item">
      <img src="{% static 'IMAGES/tucampo.jpg'  %}" class="d-block w-100" alt="..." width="1100px" height="400px">
    </div>
  </div>
</div>

<br>
<div class="row">
  <div class="col-sm-6">
    <a href="{% url 'frutas' %}"><img src='{% static "IMAGES/frts.jpg" %}'  width="600px" height="300px" class="card-img-top" alt="..."></a>
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <a href="{% url 'verduras' %}"><img src='{% static "IMAGES/verds.jpg" %}'  width="600px" height="300px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <a href="{% url 'granos' %}"><img src='{% static "IMAGES/granos.jpg" %}' width="600px" height="300px"  class="card-img-top" alt="..."></a>
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <a href="{% url 'leguminosas' %}"><img src='{% static "IMAGES/le.jpg" %}'  width="600px" height="300px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <a href="{% url 'carnes' %}"><img src='{% static "IMAGES/carnes.jpg" %}'  width="600px" height="300px" class="card-img-top" alt="..."></a>
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <a href="{% url 'abarrotes' %}"><img src='{% static "IMAGES/abarr1.jpg" %}'  width="600px" height="300px" class="card-img-top" alt="..."></a>
      <div class="card-body">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <a href="{% url 'lacteos' %}"><img src='{% static "IMAGES/hyl.jpg" %}'  width="600px" height="300px" class="card-img-top" alt="..."></a> 
    <div class="card">
      <div class="card-body">
      </div>
    </div>
  </div>
</div>  


  <div class="row">
    <div class="col-sm-6">
      <img src='{% static "IMAGES/publicidad1.jpg" %}' class="card-img-top" alt="...">
      <div class="card">
        <div class="card-body">
         
          <p class="card-text">los mejores productos del campo. producidos por manos de nuestros campesinos colombianos apoyanos.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src='{% static "IMAGES/publicidad.jpg" %}' class="card-img-top" alt="...">
        <div class="card-body">
          
          <p class="card-text">El sector agropecuario no solo es fundamental para la estabilidad económica y social del país, sino para el bienestar alimentario de todo el planeta.</p>
          
        </div>
      </div>
    </div>
  </div>

{% endblock %}
<br>
<br>
<br>
<br>
