{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<div class="row">

    <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
          <div class="text-center">
            <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/camaron.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>camaron</h3></a>
          </div>
          <div class="text-center">
            <span class="text-muted text-decoration-line-through">$15.000</span>
            $10.000
          </div> 
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
          <div class="text-center">
            <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/langosta.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>langosta</h3></a>
          </div>
          <div class="text-center">
            <span class="text-muted text-decoration-line-through">$15.000</span>
            $10.000
          </div> 
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
        </div>
      </div>
    </div>
  <div class="col-sm-2">
    <div class="card-body">
      <div class="card">
        <div class="text-center">
          <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/trucha.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>trucha</h3></a>
        </div>
        <div class="text-center">
          <span class="text-muted text-decoration-line-through">$15.000</span>
          $10.000
        </div> 
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card-body">
      <div class="card">
        <div class="text-center">
          <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/tilapia.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>tilapia</h3></a>
        </div>
        <div class="text-center">
          <span class="text-muted text-decoration-line-through">$15.000</span>
          $10.000
        </div> 
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
      </div>
      </div>
    </div>
  </div>

  <div class="col-sm-2">
    <div class="card-body">
      <div class="card">
        <div class="text-center">
          <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/salmon.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>salmon</h3> </a>
        </div>
        <div class="text-center">
          $10.000-$80.000
        </div> 
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">mirar pescados</a></div>
      </div>
      </div>
    </div>
  </div>

    <div class="col-sm-2">

      <div class="card-body">
        <div class="card">
          <div class="text-center">
            <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/merluza.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>merluza</h3></a>
          </div>
          <div class="text-center">
            <span class="text-muted text-decoration-line-through">$15.000</span>
            $10.000
          </div> 
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
        </div>
      </div>
    </div>
</div>
  
  <div class="row">
    <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
          <div class="text-center">
            <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/mojarra.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>mojarra</h3></a>
          </div>
          <div class="text-center">
            <span class="text-muted text-decoration-line-through">$15.000</span>
            $10.000
          </div> 
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card-body">
        <div class="card">
          <div class="text-center">
            <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/bagre.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>bagre</h3></a>
          </div>
          <div class="text-center">
            <span class="text-muted text-decoration-line-through">$15.000</span>
            $10.000
          </div> 
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
        </div>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
        <div class="card-body">
          <div class="card">
            <div class="text-center">
              <a href="{% url 'l_carnes' %}"><img src='{% static "IMAGES/atunn.jpg" %}'  width="600px" height="200px" class="card-img-top" alt="..."><h3>atunn</h3></a>
            </div>
            <div class="text-center">
              <span class="text-muted text-decoration-line-through">$15.000</span>
              $10.000
            </div> 
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>
          </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}
