{% load static %}
 <div class="container-fluid p-6  my-6 border">
  <img src='{% static "IMAGES/tucampo.jpg"  %}' width="1310px" height="200px">
</div>

<strong>
<nav class="navbar navbar-expand-lg navbar--success bg-success">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'ofertas' %}">Ofertas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'vender' %}">Vender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'comprar' %}">Comprar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'ayuda' %}">Ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quien' %}">Quienes Somos</a>
        </li>
    
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registro_func' %}">Crea tu cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Salir</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'registro_func' %}">Crea tu cuenta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Salir</a>
        </li>
        {% endif %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'frutas' %}">Frutas</a></li>
            <li><a class="dropdown-item" href="{% url 'verduras' %}">Verduras</a></li>
            <li><a class="dropdown-item" href="{% url 'leguminosas' %}">Leguminosas</a></li>
            <li><a class="dropdown-item" href="{% url 'granos' %}">Granos</a></li>
            <li><a class="dropdown-item" href="{% url 'carnes' %}">Carnes</a></li>
            <li><a class="dropdown-item" href="{% url 'abarrotes' %}">Abarrotes</a></li>
            <li><a class="dropdown-item" href="{% url 'lacteos' %}">Lacteos y huevos</a></li>
          </ul>
        </li><hr>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logueo_manual' %}">Ingresa aqui</a>
        </li>
      </ul>
      <form action="/buscador/" method="get" class="d-flex">
        <input class="form-control me-2" type="text" name="prd" placeholder="¿Que buscas?" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
</strong>

