{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<h2 class ='text-center'>Aqui las mejores ofertas!!!</h2>
<br>
<div class="slider">
    <div>
        <img src="{% static 'IMAGES/banner/imagen1.jpg' %}" alt="" width="1330px" height="500px">
    </div>
    <div>
        <img src="{% static 'IMAGES/banner/imagen2.jpg' %}" alt="" width="1330px" height="500px">
    </div>
    <div>
        <img src="{% static 'IMAGES/banner/imagen3.jpg' %}" alt="" width="1330px" height="500px">
    </div>
</div>

{% endblock %}
