{% extends 'base.html' %}
{% load static %}
{% block title %}tu campo{% endblock %}

{% block content %}  


 <br>

 <div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Registra aqui tus productos</h3>
            <p>
                <form method="post" action="/registro_productos/">
                    {% csrf_token %}
                    {{ form.as_p }} 
                  
                    <input type="submit" class="btn btn-success" value="registrar">
                    
                    
                </form>            
            </p>
        </div>
    </div>
 </div>

 {% endblock content %}<div class="alert-success" {{ mesage.tags }}> {{message}}</div>


