{% extends 'base.html' %}
{% load static %}
{% block title %}tu campo{% endblock %}

{% block content %}  

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-danger" href="{% url 'listas' %}" role="button">volver a tus productos</a>
<br>
 <br>

 <div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center">Registra aqui tus productos</h3>
            <p>
                <form method="post" action="/registro_leguminosas/">
                    {% csrf_token %}
                    {{ form.as_p }} 
                  
                    <input type="submit" class="btn btn-success" value="registrar">
                    
                    
                </form>            
            </p>
        </div>
    </div>
 </div>
<br>
<br>

 {% endblock content %}