{% extends 'base.html' %}
{% load static %}

{% block title %}tu campo {% endblock %}

{% block content %} 
<div class="card">
  <div class="card-body">
    <a href="{% url 'clase_producto' %}">registra aqui Tus producto </a>
  </div>
</div>


<br>
<a class="btn btn-danger" href="{% url 'clase_producto' %}" role="button">+ agregar</a>
<br>
<br>
<div class="card">
    <div class="card-body">
      <strong>Tus productos</strong>
    </div>
  </div>
<br>
<table class="table caption-top">
    <caption>tus productos</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">precio</th>
        <th scope="col">estado</th>
        <th scope="col">acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for productos in products %}
      <tr>
        <th></th>
        <td>{{productos.nombre}}</td>
        <td>{{productos.precio}}</td>
        <td>{{productos.estado}}</td>
        <td><button class="btn btn-sm btn-danger"><i class="fa-thin fa-trash-can-list"></i></button></td>
      </tr>
      {% endfor %}
    
    </tbody>
  </table>

{% endblock %}
